@model HRISApplication.Models.Imprisonment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Imprisonment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imprisoned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imprisoned)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Place)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Place)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ForHowLong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ForHowLong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Conviction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Conviction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExplainTheReason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExplainTheReason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MilitaryNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MilitaryNo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index" asp-route-id="@Model?.MilitaryNo">Back to List</a>
</div>
