@model HRISApplication.Models.SalaryDetail

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SalaryDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BasicPay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BasicPay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cola)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cola)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResponsibiltyAllowance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResponsibiltyAllowance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RepresentationAllowance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RepresentationAllowance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HouseAllowance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HouseAllowance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrossTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrossTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pension)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pension)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalDeduction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalDeduction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetPay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetPay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MilitaryNoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MilitaryNoNavigation.MilitaryNo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
