@model IEnumerable<HRISApplication.Models.Promotion>

@{
    ViewData["Title"] = "Index";
    var index = 0;
}


<p>
    <a asp-action="Create" class="btn btn-success btn-sm" asp-route-id="@ViewBag.MilitaryNo">Create New <i class="fa-solid fa-circle-plus"></i></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                No.
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoldierRank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfPromotion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MilitaryNoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            index++;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => index)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoldierRank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfPromotion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MilitaryNoNavigation.MilitaryNo)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-gear"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-circle-info text-black"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash text-danger"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
