@model IEnumerable<HRISApplication.Models.PersonalDetail>

@{
    ViewData["Title"] = "Index";
    var total = 0;
}

<div class="row"> 
    <div class="col-md-6" >
        <p>
            <a asp-action="Create" class="btn btn-success btn-sm">Create New <i class="fa-solid fa-circle-plus"></i></a>
        </p>
    </div>

</div>



<div class="table-responsive">
    <table class="table table-striped table-bordered" id="personalDetailsTable" style="width:100%">
        <thead class="table-dark">
            <tr>
                <th>
                    @* <i class="fa-solid fa-sort"></i> *@
                   @*  <a asp-action="Index" asp-route-sortOrder="@ViewData["FirstNameSortParm"]">@Html.DisplayNameFor(model => model.First().MilitaryNo)</a> *@
                    @Html.DisplayNameFor(model => model.First().MilitaryNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().SoldierRank)
                </th>
                @* <th>
                    @Html.DisplayNameFor(model => model.First().ProfilePicture)
                </th> *@
                <th>
                    @* <i class="fa-solid fa-sort"></i> *@
                    @* <a asp-action="Index" asp-route-sortOrder="@ViewData["FirstNameSortParm"]">@Html.DisplayNameFor(model => model.First().FirstName)</a> *@
                    @Html.DisplayNameFor(model => model.First().FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().MiddleName)
                </th>
                <th>
                    @* <i class="fa-solid fa-sort"></i> *@
                    @* <a asp-action="Index" asp-route-sortOrder="@ViewData["LastNameSortParm"]">@Html.DisplayNameFor(model => model.First().LastName)</a> *@
                    @Html.DisplayNameFor(model => model.First().LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().DateOfBirth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().BloodGroup)
                </th>
                @* <th>
                    @Html.DisplayNameFor(model => model.First().Ethnicity)
                </th> *@
                <th>
                    @Html.DisplayNameFor(model => model.First().ShieldNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Gender)
                </th>
               @*  <th>
                    @Html.DisplayNameFor(model => model.First().MaritalStatus)
                </th> *@
                <th class="noExport">Action</th>
                <th class="noExport">More Info</th>
                <th class="noExport">More Option</th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                 <td>
                    @Html.DisplayFor(modelItem => item.MilitaryNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoldierRank)
                </td>
                @* <td>
                    <img class="img-responsive " src="data:image/jpeg;base64,@Convert.ToBase64String(item.ProfilePicture)" style="max-height:200px; max-width: 200px;"/>
                </td> *@
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MiddleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BloodGroup)
                </td>
                @* <td>
                    @Html.DisplayFor(modelItem => item.Ethnicity)
                </td> *@
                <td>
                    @Html.DisplayFor(modelItem => item.ShieldNo)
                </td>
                <td>
                   @*  @Html.DisplayFor(modelItem => item.Gender) *@

                        @if (item.Gender)
                        {
                        
                            @:Male    
                        }
                        else
                        {
                            @:Female
                        }
                    </td>
                @* <td>
                    @Html.DisplayFor(modelItem => item.MaritalStatus)
                </td> *@
                 <td class ="text-nowrap">
                    <a asp-action="Edit" asp-route-id="@item.MilitaryNo" title="Edit" ><i class="fa-solid fa-gear"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.MilitaryNo" title="Details" ><i class="fa-solid fa-circle-info text-black"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.MilitaryNo" title="Delete" ><i class="fa-solid fa-trash text-danger"></i></a>
                </td>
                <td>
                    <select name="moreInfo" id="@item.MilitaryNo-id">
                        <option value="0">Please Select</option>
                        <option value="1">Address</option>
                        <option value="2">Next of Kin</option>
                        <option value="3">Enrollment</option>
                        <option value="4">Training</option>
                        <option value="5">Battle</option>
                        <option value="6">Assignment</option>
                        <option value="7">School</option>
                        <option value="8">Language</option>
                        <option value="9">Child</option>
                        <option value="10">Promotion</option>
                        <option value="11">Imprisonment</option>
                        <option value="12">Parent</option>
                        <option value="13">Spouse</option>
                        <option value="14">Health Condition</option>
                        <option value="15">Salary Details</option>
                        <option value="16">Files</option>

                           

                    </select>
                </td>
                <td class="text-nowrap">
                        <a href="javascript:void(0);" class="moreInfoIndex" data-id="@item.MilitaryNo" title="More Settings" ><i class="fa-solid fa-bars"></i></a>
                   @*  <a href="javascript:void(0);" class="moreInfoDetails" data-id="@item.MilitaryNo">Details</a> |
                    <a href="javascript:void(0);" class="moreInfoDelete" data-id="@item.MilitaryNo">Delete</a> | *@
                        <a asp-action="DetailsAll" asp-route-id="@item.MilitaryNo" title="Details"><i class="fa-solid fa-circle-info text-black"></i></a> |

                </td>
            </tr>
    }
        </tbody>
    </table>
</div>
@* @{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a> *@
@* <p>
    Total: @(Model.Tot)
</p> *@

@section scripts{

    


    <script type="text/javascript">

        $(document).ready(function () {


            var table = $('#personalDetailsTable').DataTable({
                lengthChange: false,
                buttons: [
                    'copy',
                    'excel',
                    // {
                    //     extend: 'pdfHtml5',
                    //     pageSize: 'TABLOID',
                    //     footer: true,
                    //     exportOptions:
                    //         {
                    //             columns: [0,1,2,3,4,5,6,7,8]
                    //         }
                    // },
                    'csv',
                    'colvis',
                ]
            });

            table.buttons().container()
                .appendTo('#personalDetailsTable_wrapper .col-md-6:eq(0)');
        });

        $(function () {

            $('.moreInfoIndex').click(function () {

                var $buttonClicked = $(this);
                var militaryNo = $buttonClicked.attr('data-id');

                var dropdown = $('#' + militaryNo + '-id');
                
                var selectedValue = dropdown.val();

                console.log(selectedValue + ' ___ ' + '#' + militaryNo + '-id');

                switch (selectedValue) { 
                    case '1':
                        window.location.href = 'AddressArea/Addresses/Index?id=' + militaryNo;
                        break;
                    case '2':
                        window.location.href = 'NextOfKinArea/NextOfKins/Index?id=' + militaryNo;
                        break;
                    case '3':
                        window.location.href = 'EnrollmentArea/Enrollments/Index?id=' + militaryNo;
                        break;
                    case '4':
                        window.location.href = 'TrainingArea/Trainings/Index?id=' + militaryNo;
                        break;
                    case '5':
                        window.location.href = 'BattleArea/Battles/Index?id=' + militaryNo;
                        break;
                    case '6':
                        window.location.href = 'AssignmentArea/Assignments/Index?id=' + militaryNo;
                        break;
                    case '7':
                        window.location.href = 'SchoolArea/Schools/Index?id=' + militaryNo;
                        break;
                    case '8':
                        window.location.href = 'LanguageArea/Languages/Index?id=' + militaryNo;
                        break;
                    case '9':
                        window.location.href = 'ChildArea/Children/Index?id=' + militaryNo;
                        break;
                    case '10':
                        window.location.href = 'PromotionArea/Promotions/Index?id=' + militaryNo;
                        break;
                    case '11':
                        window.location.href = 'ImprisonmentArea/Imprisonments/Index?id=' + militaryNo;
                        break;
                    case '12':
                        window.location.href = 'ParentArea/Parents/Index?id=' + militaryNo;
                        break;
                    case '13':
                        window.location.href = 'SpouseArea/Spouses/Index?id=' + militaryNo;
                        break;
                    case '14':
                        window.location.href = 'HealthConditionArea/HealthConditions/Index?id=' + militaryNo;
                        break;
                    case '15':
                        window.location.href = 'SalaryDetailArea/SalaryDetails/Index?id=' + militaryNo;
                        break;
                    case '16':
                        window.location.href = 'PersonalFileArea/PersonalFiles/Index?id=' + militaryNo;
                        break;
                    default:
                        break;
                }
            });
        });



    </script>
}