@model IEnumerable<HRISApplication.Models.ChartModels.WordWordCount>

@{
    ViewData["Title"] = "Index";
    var index = 0;
    var addcolums = 0;
    var captionTotal = 0;
    var generalTotal = 0;
    Dictionary<string, int> rowTotal = new Dictionary<string, int>();
}




@if(Model.Count() != 0 )
{
    <table class="table">
        <thead>
            <tr>

                <th>
                </th>
                @foreach (var item in Model.FirstOrDefault().WordCount)
                {
                    <th>
                        @item.Word

                    </th>
                }

                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var wordwordcount in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => wordwordcount.Word)
                    </td>
                    @foreach (var wordcount in wordwordcount.WordCount)
                    {
                        addcolums += wordcount.Count;
                        <td>
                            @Html.DisplayFor(modelItem => wordcount.Count)
                        </td>


                        int value = 0;
                        @if (rowTotal.TryGetValue(wordcount.Word, out value))
                        {
                            value += wordcount.Count;

                            rowTotal[wordcount.Word] = value;
                        }
                        else
                        {
                            rowTotal.Add(wordcount.Word, wordcount.Count);
                        }
                    }

                    @*  <td>
            <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-gear"></i></a> |
            <a asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-circle-info text-black"></i></a> |
            <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash text-danger"></i></a>
            </td> *@
                    <td>
                        @addcolums

                    </td>
                </tr>
                addcolums = 0;
            }

            <tr>
                <td>Total</td>
                @{
                    rowTotal.OrderBy(x => x.Key);
                    var totatOfTotal = 0;
                }
                @foreach (var item in rowTotal)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Value)
                    </td>
                    totatOfTotal += item.Value;
                }
                <td>
                    @totatOfTotal
                </td>

            </tr>
        </tbody>
    </table>
}
else
{
    <h2>The Model is empty</h2>
}

