@model HRISApplication.Models.Address

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Address</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Counuty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Counuty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Payam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Payam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Boma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Boma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MilitaryNoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MilitaryNoNavigation.MilitaryNo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-route-id="@Model?.MilitaryNo" asp-action="Index">Back to List</a>
</div>
