@model HRISApplication.Models.Battle

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Battle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBattle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfBattle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlaceOfBattle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlaceOfBattle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InjurySustained)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InjurySustained)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfInjury)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeOfInjury)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MilitaryNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MilitaryNo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MilitaryNo">Edit</a> |
    <a asp-action="Index" asp-route-id="@Model?.MilitaryNo">Back to List</a>
</div>
